<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>hspd: hubot script per day</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bree+Serif" />
  <!-- build:css(./dist) /styles/main.css -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <!-- endbuild -->
</head>
<body ng-app="app">
  <div class="app-container" ng-controller="AppController as c">
    <h1>hspd : hubot script per day</h1>
    <div class="loader" ng-class="{loading: !c.loaded}">loading...</div>
    <div class="body" ng-class="{loaded: c.loaded}">
      <p><input type="search" class="query" ng-model="c.query" placeholder="input search query here. e.g. hubot-t_wada" /></p>
      <p class="summary"><span class="count" ng-bind="c.scripts.length"></span> scripts <span class="count" ng-bind="c.scripts.length"></span> days </p>
      <ul class="scripts">
        <li class="script-container" ng-repeat="i in c.scripts | filter: c.query | orderBy:'number'">
          <div class="script">
            <div class="image-container">
              <div class="image">
                <img ng-src="{{i.image}}" />
              </div>
            </div>
            <div class="number-container">
              <div class="number">
                <p>
                  <a ng-href="http://blog.bouzuya.net/{{i.date | date : 'yyyy/MM/dd'}}/">
                    <span class="number-prefix">day </span>
                    <span ng-bind="i.number">N</span>
                    <span class="number-suffix">.</span>
                  </a></p>
              </div>
            </div>
            <div class="repo-container">
              <div class="repo">
                <p>
                  <a ng-title="{{i.name}}" ng-href="{{i.repository}}" ng-class="{deprecated: i.deprecated}">
                    <span class="repo-prefix">bouzuya/</span><span ng-bind="i.name">hubot-XXX</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- build:vendorjs /scripts/vendor.js -->
  <script src="../bower_components/angular/angular.js"></script>
  <!-- endbuild -->
  <!-- build:mainjs(./dist) /scripts/main.js -->
  <script src="/scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
